<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;background: #ddd;padding: 15px 15px;"><b>Integration Odoo CRM with Whatsapp</b></h2>
        <h3 class="oe_slogan">
            WhatsApp is a powerful communication tool. It has become widely popular due to its simplicity. Apart from using it for personal communication, you can use WhatsApp for your business in various ways.
        </h3>

        <div class="oe_row oe_padded">
            <div class="oe_span3" style="text-align: center;">
                <span  style="margin-bottom:15px;" class="fa fa-envelope-o fa-4x"></span>
                <h4 class="oe_mb16 text-center"><b>Using WhatsApp For Customer Communication</b></h4>
                <p class="text-justify">
                   Higher open rate unlike email. If your client does not answer the call, the WhatsApp message will serve as a reminder to contact later.
                </p>
            </div>
            <div class="oe_span3" style="text-align: center;">
                <span  style="margin-bottom:15px;" class="fa fa-ticket fa-4x"></span>
                <h4 class="oe_mb16 text-center"><b>Using WhatsApp For Customer Support</b></h4>
                <p class="text-justify">
                   Our customers would always prefer to send you a message over WhatsApp rather than calling a helpdesk number or raising a ticket.
                </p>
            </div>
            <div class="oe_span3" style="text-align: center;">
                <span style="margin-bottom:15px;" class="fa fa-handshake-o fa-4x"></span>
                <h4 class="oe_mb16 text-center"><b>Creative Usage Of WhatsApp For Business</b></h4>
                <p class="text-justify">
                    Grow your business profitably and creatively. Use WhatsApp as an extra sales channel
                </p>
            </div>
            <div class="oe_span3" style="text-align: center;">
                <span style="margin-bottom:15px;" class="fa fa-check-square-o fa-4x"></span>
                <h4 class="oe_mb16 text-center"><b>Using WhatsApp For Marketing & Promotion</b></h4>
                <p class="text-justify">
                    WhatsApp can be a very solid marketing tool. It is a good individual platform for direct communication.
                    You can use WhatsApp to send images, audio files, short videos of your products and more.
                </p>
            </div>
        </div>
            <img style="margin-left:auto;margin-right:auto;" class="oe_picture oe_screenshot"  src="banner_whatsapp.png"/>
    </div>
</section>
<hr>
<section class="oe_container" style="background: #ddd; padding: 3px 15px;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">How this addons work?</h2>
        <h3 class="oe_slogan"><b>A quick and easy way to manage communication with your clients</b></h3>
        <div class="oe_span12 oe_spaced">
            <h4  class="text-center"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Step Zero</font></font></b></h4>
            <p class="oe_mt32  lead text-center" style="font-size: 16px;">Set permissions</p>
             <img style="margin-left: auto; margin-right: auto;" class="oe_picture oe_screenshot" src="access.png"/>
        </div>
        <div class="oe_span12 oe_spaced">
            <h4  class="text-center"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Step One</font></font></b></h4>
             <p class="oe_mt32  lead text-center" style="font-size: 16px;">Create a template for more efficient communication. You can customize all the template you want; Opening dialogue, remember payment, send invoice, Order delivery status, shipped, Special occasion offers and sales announcements and more</p>
             <img style="margin-left: auto; margin-right: auto;" class="oe_picture oe_screenshot" src="whatsapp_templates.png"/>
        </div>

        <div class="oe_span12 oe_spaced">
             <h4  class="text-center"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Step Two</font></font></b></h4>
             <p class="oe_mt32  lead text-center" style="font-size: 16px;">Locate the opportunity or lead and click on 'Send Whatsapp</p>
            <img style="margin-left: auto; margin-right: auto;"  class="oe_picture oe_screenshot" src="send_whatsapp.png"/>
        </div>

        <div class="oe_span12 oe_spaced">
            <h4  class="text-center"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Step Three</font></font></b></h4>
            <p class="oe_mt32  lead text-center" style="font-size: 16px;">Select your template</p>

             <img style="margin-left: auto; margin-right: auto;"  class="oe_picture oe_screenshot" src="input_template_whatsapp.png"/>
        </div>

        <div class="oe_span12 oe_spaced">
             <h4 class="text-center"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Step For</font></font></b></h4>
             <p class="oe_mt32  lead text-center" style="font-size: 16px;">Check your preformatted content</p>
            <img style="margin-left: auto; margin-right: auto;"  class="oe_picture oe_screenshot" src="format_message.png"/>
        </div>

        <div class="oe_span12 oe_spaced">
             <h4 class="text-center"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Step Five</font></font></b></h4>
             <p class="oe_mt32  lead text-center" style="font-size: 16px;">click send button, WhatsApp app opens</p>
            <img style="margin-left: auto; margin-right: auto;"  class="oe_picture oe_screenshot" src="whatsapp_text.png"/>
        </div>

        <div class="oe_span12 oe_spaced">
             <h4 class="text-center"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Step Six</font></font></b></h4>
             <p class="oe_mt32  lead text-center" style="font-size: 16px;">Great, you can now contact the customer without the need to register their phone number first</p>
            <img style="margin-left: auto; margin-right: auto;"  class="oe_picture oe_screenshot" src="whatsapp_app.png"/>
        </div>


        <div class="oe_span12 oe_spaced">
             <h4 class="text-center"><b><font style="vertical-align: inherit;">
                 <font style="vertical-align: inherit;">Step Nine</font></font></b></h4>
             <p class="oe_mt32  lead text-center" style="font-size: 16px;">Your team can establish if the message was sent or not and your reasons, to make decisions in the case</p>
            <img style="margin-left: auto; margin-right: auto;" class="oe_picture oe_screenshot" src="footer_button.png">
            <img style="margin-left: auto; margin-right: auto;" class="oe_picture oe_screenshot" src="header_button.png">
            <p class="oe_mt32  lead text-center" style="font-size: 16px;">Control and monitoring of the message sent to the user and which employee sent it</p>
            <img style="margin-left: auto; margin-right: auto;"  class="oe_picture oe_screenshot" src="note_log_invoice.png"/>
        </div>

    </div>
</section>
<hr>
<section class="oe_container">
    <div class="create a vendor broadcast list and send bulk price requests oe_spaced">

        <h2 class="oe_slogan" style="color:#875A7B;">
            <span class="fa fa-bullhorn fa-1x"></span>
            <b>
                Send a message to multiple contacts in one click with broadcast feature the Whatsapp
            </b>
        </h2>
        <h3 class="oe_slogan"><b>
            With the broadcast list feature, you can send a message to several of your contacts at once. Broadcast lists are saved lists of message recipients that you can repeatedly send broadcast messages to without having to select them each time.
            </b><a href="https://faq.whatsapp.com/en/android/23130793/" target="_blank">More info about Broadcast Whatsapp</a>
        </h3>
        <div class="oe_row">
            <div class="oe_span4" style="font-size: 18px;">
                <ul>
                    <li>Create a customer broadcast list to send mass quotes</li>
                    <li>Create a customer broadcast list and send out massive promotions</li>
                    <li>Create a vendor broadcast list and send bulk price requests</li>
                </ul>
            </div>
            <div class="oe_span8" style="margin-bottom:30px;">
                <img class="oe_picture oe_screenshot" src="broadcast_whatsapp.png" style="margin: 0 auto;" />
            </div>
        </div>

         <h3 class="oe_slogan">
             <b>
            What is the difference between broadcast list and group in WhatsApp?
         </b>
         </h3>
        <h3 class="oe_slogan">
WhatsApp Broadcast. WhatsApp Broadcasts are lists of recipients you can send regular (broadcast) messages to. While this may seem similar to a WhatsApp Group, the major difference is that people cannot see other people in the same Broadcast List (making it far more private and secure).
         </h3>
    </div>
</section>
<hr>
<section class="oe_container oe_dark" style="background: #ddd;padding: 3px 15px;">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_mt8  text-center" style="font-size: 16px;">
                Always remember to respect the privacy of the client and the terms and conditions of use of WhatsApp
            </p>
        </div>
    </div>
</section>
<hr>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Fully compatible whit PC and Whatsapp Web / Smartphone whit app Whatsapp .</h2>
        <h3 class="oe_slogan"><b>For more information on how to connect to Whatsa web.</b><a href="https://faq.whatsapp.com/es/web/28080003/" target="_blank">Whatsapp Web </a></h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="whatsapp_web.png" height="420">
            </div>
        </div>
    </div>
</section>
<hr>
<section class="oe_container oe_separator"></section>
 <hr>
<section class="oe_container" style="background: #ddd;padding: 3px 15px;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Video Demostration</h2>
        <div class="oe_span12" style="text-align: center;">
         <a class="btn btn-succes btn-lg" style="text-align: center; color: #fff; background: linear-gradient(90deg, #875A7B 20%, #62495B 80%) !important; border-radius: 0px; font-size:21px; " target="_blank" href="https://www.youtube.com/embed/Asr-jhG7604">View video in YouTube</a>
        </div>
    </div>
</section>
<hr>
<section class="oe_container" style="text-align: center;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">You want to see more addons that will support the administrative management, sale and marketing of your business.?</h2>
            <a class="btn btn-primary btn-lg" style="background: linear-gradient(90deg, #875A7B 20%, #62495B 80%) !important; border-radius: 0px; font-size:21px; " target="_blank" href="https://apps.odoo.com/apps/modules/browse?author=GTICA%20C.A">Come on! click here </a>
    </div>
</section>
<hr>
<section class="oe_container oe_dark" style="background: #ddd;padding: 3px 15px;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;"><b>Why this module? theoretical support</b></h2>
        <h2 class="oe_slogan" style="color:#875A7B;">The use of WhatsApp for business, represents a great support for all levels of communication within the company</h2>
        <h3 class="oe_slogan"><b>Channel / media the comunication extra for your company</b></h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="whatsapp_email.png">
        </div>
        <div class="oe_span6">
            <h4><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email vs Whatsapp</font></font></b></h4>
            <ul class="list-unstyled">
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">- The company's emails can be lost in a spam tray or if the client receives a large number of daily emails, our information may lose relevance among so much documentation.</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">- With a WhatsApp message we can directly indicate to the client of interest, the sending of the requested budget or the invoice that has been generated and encourage him to check his email for more details, you can also attach additional information.</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">- Once the potential client accepts the conversation with the company through WhatsApp, we can send a URL link with the budget or customer order,
When the client opens the link, he will find a striking website with images and persuasive descriptions of the products that we wish to sell, this with the intention of increasing the interest of purchase by the client.</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">- Conversations through WhatsApp are private with the company, unlike public social networks, WhatsApp is a better option to handle complaints, difficult clients, returns and more, thus protecting our corporative digital image</font></font></li>
            </ul>
        </div>
    </div>
</section>
<hr>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h4><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email vs Whatsapp</font></font></b></h4>
            <ul class="list-unstyled">
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">- If we call a customer, and for some reason he does not answer, we can leave reminders to indicate a better time and day of the new call and therefore recover a potential sale.</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">- Customer service, support and sales strategy are more efficient, we can send infographics, product images, videos with some solution and everything adjusted to the real needs of each client.</font></font></li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">- You can contact your client or potential client anywhere in the world.</font></font></li>
            </ul>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="whatsapp_call.png">
        </div>

    </div>

</section>
<hr>
<section class="oe_container" style="background: #ddd;padding: 3px 15px;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Supplementary Support</h2>
        <p class="oe_mt32 oe_mb64 lead text-center" style="font-size: 16px;">You will receive 30 days of free assistance for any questions, queries and troubleshooting (excluding data recovery) or any type of problem related to this module.<a href="https://gtica.online/" target="_blank" rel="nofollow">Ticket support</a></p>
    </div>
</section>
